<div class="login-container">
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <div class="form-group">
          <input type="email" placeholder="Correo electrónico" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Contraseña"  class="form-control">
        </div>
        <button type="submit" class="btn-login" >Ingresar</button>
      </form>
      <div class="bottom-text">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <!-- <p><a href="#">¿No tienes cuenta? Regístrate aquí</a></p> -->
      </div>
    </div>
  </div>
  
<!-- 
<body>
  <div class="register-container">
    <div class="register-box">
      <h1>Registro</h1>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Correo electrónico" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Contraseña" class="form-control" required>
        </div>
        <button type="submit" class="btn-register">Registrarse</button>
      </form>
      <div class="bottom-text">
        <p>¿Ya tienes una cuenta? <a href="login.html">Inicia sesión aquí</a></p>
      </div>
    </div>
  </div>
</body> -->
